<nav>
  <h1>Travel Album</h1>
  <form action="/search" method="post">
    <input type="text" placeholder="アカウント名、場所名">
    <input type="submit" value="検索">
  </form>
  <img src="#" alt="アカウント画像">
</nav>
<main>
  <form action="/scope" method="post">
    <select name="" id="">
      <option value="">選択肢1</option>
      <option value="">選択肢2</option>
      <option value="">選択肢3</option>
      <option value="">選択肢4</option>
    </select>
    <select name="" id="">
      <option value="">選択肢1</option>
      <option value="">選択肢2</option>
      <option value="">選択肢3</option>
      <option value="">選択肢4</option>
    </select>
    <input type="submit" value="検索">
  </form>

  <button>追加</button>
  <%#= eachを用いて投稿をループで表示する %>
</main>