<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><h1>Travel Album</h1></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="#"><img src="<%= current_user.image %>" alt="アカウント画像" width="40" height="40"></a>
  </div>
</nav>
<main>
  <form action="/new">
    <input type="file" name="images"><br>
    <select name="type" id="type">
      <option value="">選択肢1</option>
      <option value="">選択肢2</option>
      <option value="">選択肢3</option>
      <option value="">選択肢4</option>
    </select><br>
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="登録">
  </form>
</main>