<main class="text-center">
  <div class="height-center husen">
    <h1 class="h1 mb-3 font-weight-normal">Travle Album</h1>
    <form action="/signin" method="post" class="form-signin">
      <input type="text" name="name" placeholder="ユーザー名" class="form-control"><br>
      <input type="password" name="password" placeholder="パスワード" class="form-control"><br>
      <input type="submit" value="ログイン" class="btn btn-lg btn-primary btn-block">
    </form>
    <a href="/signup">新規登録はこちら</a>
  </div>
</main>
