<main>
  <h1>Travle Album</h1>
  <form action="/signin" method="post">
    <input type="text" name="name" placeholder="ユーザー名"><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="submit" value="ログイン">
  </form>
  <a href="/signup">新規登録はこちら</a>
</main>
