<main>
  <h1>Travle Album</h1>
  <form action="/signin" method="post">
    <input type="text" placeholder="name"><br>
    <input type="text" placeholder="password"><br>
    <input type="submit" value="ログイン">
  </form>
</main>
