body {
  background-image: url('../img/corkboard.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0;
}

/* nav */
nav h1 {
  float: left;
  margin-right: 43%;
  margin-left: 70px;
  color: white;
}

/* nav a:link,
a:visited,
a:hover,
a:active {
  color: white;
} */

nav form {
  /* margin-left: 50%; */
  margin-right: 0;
}

button.btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

nav img {
  margin-left: 100px;
  border-radius: 50%;
  background-color: aliceblue;
}

/* signin, signup */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signup-husen {
  padding: 220px;
  background-image: url('../img/husen2.png');
  background-size: 33%;
  background-repeat: no-repeat;
  background-position-y: 46%;
  background-position-x: 51%;
}

.husen {
  padding: 220px;
  background-image: url('../img/husen2.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 51%;
}

.husen a {
  color: #1b1bfc;
}

/* 投稿関連 */
.contribute {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

.contribute-element {
  text-align: center;
  margin-bottom: 70px;
}

.image-detail {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}

.blank {
  margin: 5% 0;
}

.comment {
  width: 500px;
  height: 400px;
  margin-top: 40px;
  margin-left: 55%;
  padding: 100px 130px;
  background-image: url('../img/husen3.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* アコーディオンメニュー */
.menu {
  max-width: 160px;
  position: absolute;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
}

.menu ul {
  display: none;
  /* list-style: none; */
}
.menu ul.active {
  background-color: white;
  display: block;
  width: 120px;
  transform: translateX(20px);
  transition: 0.4s;
  padding: 5px 5px 5px 30px;
}

.menu > li > a {
  display: block;
  /* border-bottom: 1px solid black; */
}
.menu > li > a::before {
  content: '';
  width: 4px;
  height: 3px;
  border: 0;
  /* border-right: 2px solid black; */
  /* border-bottom: 2px solid black; */
  transform: rotate(45deg);
  position: absolute;
  margin-top: 7px;
}
.menu > li > ul a {
  display: block;
  color: #000000;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.menu-block {
  /* width: 300px; */
  margin: 0;
  position: absolute;
  left: 83%;
  top: 2%;
  z-index: 20;
}

footer {
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('../img/waku.png');
  background-size: cover;
  bottom: 0;
  position: fixed;
}

.file {
  clear: both;
}

.form-new {
  clear: both;
  position: absolute;
  left: 13%;
  top: 15%;
  padding: 100px 90px 90px 90px;
  background-image: url('../img/husen2.png');
  background-size: 120%;
  background-repeat: no-repeat;
}

.map {
  position: absolute;
  left: 60%;
  top: 20%;
}

.add {
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #fff;
  transition: 0.4s;
}

.add:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

.page-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
}

.page-title h2 {
  display: inline-block;
  text-align: left;
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.page-title h2:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

footer {
  max-width: 100%;
}

.btn-follow {
  margin: 10px;
}
