body {
  background-image: url('../img/corkboard.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav img {
  border-radius: 50%;
  background-color: aliceblue;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signup-husen {
  padding: 220px;
  background-image: url('../img/husen2.png');
  background-size: 33%;
  background-repeat: no-repeat;
  background-position-y: 46%;
  background-position-x: 51%;
}

.husen {
  padding: 220px;
  background-image: url('../img/husen2.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 51%;
}

.contribute {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.contribute-element {
  text-align: center;
}

.image-detail {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}

.blank {
  margin: 5% 0;
}

.comment {
  width: 500px;
  height: 400px;
  margin-top: 40px;
  margin-left: 55%;
  padding: 100px 130px;
  background-image: url('../img/husen3.png');
  background-size: contain;
  background-repeat: no-repeat;
}
